<div class="container">
  <h1>Log In</h1>

  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :email_address %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Log in" %>
  <% end %>
</div>