<h1 class="center"><%= current_user.email %>'s links</h1>
<div class="row">
  <div class="col s4 offset-s1">
    <h4>Create New Link</h4>
    <%= form_for(Link.new) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <%= f.submit "Submit Link" %>
    <% end %>
  <br><br>
    <h4>Search Existing Ideas</h4>
    <input type='text' id='search'>
  </div>

  <div class="col s6 offset-s1">
    <div id="links-index"></div>
  </div>
</div>

<button class="btn" id="filter-viewed">View Unread</button>

</div>

