<h1 class="center">links index</h1>

<div class="container">
  <%= form_for(Link.new) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.submit "Submit Link" %>
  <% end %>

<span>Search Existing Ideas</span>
<input type='text' id='search'>

  <div id="links-index"></div>
</div>

